<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Objectives</h2>
                <hr class="light">
                <p class="text-faded">Our main goal is to create <strong>CloudButton: a Serverless Data Analytics Platform</strong>. CloudButton will <i>democratize big data</i> by overly simplifying the overall life cycle and programming model thanks to serverless technologies. To demonstrate the impact of the project, we target two settings with large data volumes: <strong>bioinformatics</strong> (genomics, metabolomics) and <strong>geospatial data</strong> (LiDAR, satellital).</p>
                <iframe width="600" height="340" src="https://www.youtube.com/embed/y3HyDh9N8j0"></iframe>
            </div>
        </div>
    </div>
</section>
